www.chromtocode.in {
    redir https://chromtocode.in{uri}
}


chromtocode.in {
    reverse_proxy localhost:8000
    route /.well-known/acme-challenge/* {
        root * /var/www/chromtocode.in
        file_server
    }
}