chromtocode.in {
    reverse_proxy localhost:8000
}

www.chromtocode.in {
    redir https://chromtocode.in{uri}
}

portfolioofdebojyoti.in {
    reverse_proxy localhost:8001
}

www.portfolioofdebojyoti.in {
    redir https://portfolioofdebojyoti.in{uri}
}